.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks {
    width: 100%;
    margin-top: 64px;
}